:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Mono", monospace;
    font-size: 1rem;
    background-color: #393939;
    color: #fff;
}

caption{
    text-align: left;
}

td{
    width: 30vw;
    padding: 15px 25px 15px 0;
    border-bottom: 1px solid #696969;
}

td:first-child{
    color: orange;
    font-weight: bold;
}

td:nth-child(2){
    color: cyan;
    font-size: 0.8rem;
}