:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Mono", monospace;
    font-size: 1rem;
    color: #fff;
}

body{
    
    background-image: linear-gradient(to right top, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
}


h1{
    text-align: center;
    font-size: 2.5rem;
}
caption{
    text-align: left;
    margin: 3em 0 1em 0;
    padding: 0 0 0 1em;
    font-size: 1.5rem;
}

table{
    margin: 0 auto;
    max-width: 40vw;
    min-width: 600px;
    background-color: #393939;
    border-radius: 20px;
    padding: 2em;
}


td{
    width: 20vw;
    padding: 1em;
    /* border-radius: 5px; */
}

tr:hover{
    background-color: rgba(255, 255, 255, 0.3);
    td{
        color: #00EAE8;
    }
}

td:first-child{
    color: #FFC75F;
    font-weight: bold;
    border-radius: 5px 0 0 5px;
}

td:nth-child(2){
    color: #fff;
    font-size: 0.8rem;
    border-radius: 0 5px 5px 0;
}

.git-sheet{
    margin-bottom: 10em;
}